/* From Butfly, include header counter and margin */
body { counter-reset: section }
p { margin-top: 0.3em!important; margin-bottom: 0.3em!important; }
h1 { text-align: center; margin: 2em 0 5em!important;}
h2 { counter-reset: sub-section; margin-left: 0.5em!important; }
h3 { counter-reset: composite; margin-left: 1.5em!important; }
h4 { counter-reset: detail; margin-left: 2em!important; }
h5 { margin-left: 2.5em; }
h2:before {
    counter-increment: section;
    content: counter(section) " ";
}
h3:before {
    counter-increment: sub-section;
    content: counter(section) "." counter(sub-section) " ";
}
h4:before {
    counter-increment: composite;
    content: counter(section) "." counter(sub-section) "." counter(composite) " ";
}
h5:before {
    counter-increment: detail;
    content: counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) " ";
}
